body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px; /* Increased container width */
    width: 90%; /* Adjusted width to make it slightly bigger */
    padding: 40px; /* Increased container padding */
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 15px; /* Slightly increased rounded corners for a softer look */
}

/* Rest of your existing styles */


h1 {
    color: #3498db;
    font-size: 2em; /* Increase heading font size for emphasis */
}

p {
    margin: 10px 0;
    line-height: 1.5; /* Improve readability with increased line height */
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
    font-weight: bold; /* Make links stand out more */
}

a:hover {
    color: #0056b3;
}

a:visited {
    color: #464646;
}

.update-link,
.delete-button,
.back-link {
    display: inline-block; /* Align buttons horizontally */
    margin-top: 12px;
}

.delete-button {
    background-color: #d9534f;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Add rounded corners for buttons */
}

.delete-button:hover {
    background-color: #c9302c;
}

.back-link {
    color: #333;
    margin-left: 20px;
}

.back-link:hover {
    color: #555;
}
